
@mixin font-text(
    $font-family: "'Roboto','Roboto Condensed','Roboto Slab" sans-serif,
    $font-size: 14px,
  ) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
  }

@mixin logo {
    @include font-text("Roboto Condensed");
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: $main-texts-color;
}

@mixin address {
    margin-left: 20px;
    color: #FFEF98;
    font-weight: normal;
    text-decoration: none;
}  

@mixin button-link {
    @include font-text("Roboto Condensed");
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-texts-color;
    background-color: #5AB9EF;
    max-width: 250px;
    min-height: 50px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 100px 0px 100px 0px;
}

@mixin button-link-hover {
    background-color: darken($color: #2285d6, $amount: 3);
    transition: all 0.3s ease-out;
}

@mixin title {
    @include font-text("Roboto Condensed");
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
}

@mixin icons {
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    background-color: $main-footer-bg-color;
    margin-left: 5px;
}
