
/* 
$container: 1130px;

.container{
   max-width: ($container );
   margin: 0 auto;
   padding: 10px;
}

.header__address--icon{
  background-image: url(../images/vector.png);
}


.footer__icons{
  &-facebook{
  background-image: url(../images/facebook.png);
  }
  &-twitter{
  background-image: url(../images/twitter.png);
  }
  &-telegram{
  background-image: url(../images/telegram.png);
  }
  &-instagram{
  background-image: url(../images/instagram.png);
  }
}
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./vars";
 */
 

@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./vars";

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    @include font-text("Roboto", sans-serif);
}
.container{
  border: 1px solid yellow;
}
