@import "../vars";
@import "../mixins";

.main__about{
    background-color: transparentize($main-bg-color, $amount: 0.095);
    color: $main-texts-color;
}

.about-first{
    &__texts{
        &-title{
            @include title();
            margin: 30px 0;
            font-size: 36px;
        }
        &-word{
            font-size: 18px;
            font-style: italic;
        }
        &-link{
            color: aqua;
        }
    }

    &__images{
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        &-first{
            animation-timing-function: linear;
        }
        &-second{
            animation-timing-function: ease-out;
        }
    }
    
    &__img{
        border-radius: 50px;
    }
    @keyframes bounce {
      50% {
        padding-top: 150px;
      }
    }
    
}

.about-second{
    background-color: white;
    color: black;
}

.about-third{

    &__texts{
        text-align: center;
    }

    &__diagramm-img{
        max-width: 450px;

    }

    &__texts-text{
        text-align: left;
    }

    &__images{
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        &-first{
            animation-timing-function: ease-out;
        }
        &-second{
            animation-timing-function: linear;
        }
    }
    &__img{
        border-radius: 50px;
    }
    @keyframes bounce {
      50% {
        padding-top: 80px;
      }
    }
    
}