@import "../vars";
@import "../mixins";

.main__about{
    background-color: transparentize($main-bg-color, $amount: 0.095);
    color: $main-texts-color;
}

.about-first{
    &__texts{
        &-title{
            @include title();
            margin: 30px 0;
            font-size: 36px;
        }
        &-word{
            font-size: 18px;
            font-style: italic;
        }
        &-link{
            color: aqua;
            text-decoration: none;
        }
        &-link:hover{
            color: #faeda6;
            display: inline-block;
            transform: scale(1.2);
            transition: ease-in;
        }
    }

    &__images{
        animation-name: twinkle-first;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        &-first{
            animation-timing-function: linear;
        }
        &-second{
            animation-timing-function: ease-out;
        }
    }
    
    &__img{
        border-radius: 50px;
    }
  @keyframes twinkle-first {
    20% {
      transform: scale(0.8);
      opacity: 0.8;
    }
  }
    
}

.about-second{
    background-color: white;
    color: black;
}

.about-third{

    &__texts{
        text-align: center;
    }

    &__diagramm-img{
        max-width: 450px;

    }

    &__texts-text{
        text-align: left;
    }

    &__images{
        animation-name: twinkle-thirt;
        animation-duration: 4s;
        animation-iteration-count: infinite;

        &-first{
            animation-timing-function: linear;
        }
        &-second{
            animation-timing-function: ease-out;
        }
    }
    
    &__img{
        border-radius: 50px;
    }
  @keyframes twinkle-thirt {
    20% {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
    
}