@import "../vars";
@import "../mixins";
    


.footer{
    background-color: $main-footer-bg-color;
    margin-top: 0;
    min-height: 300px;
    &__logo{

        &--link {
            @include logo();
        }
    
        &--img{
         max-width: 250px;
         padding-top: 10px;
         padding-right: 20px;
        } 

    }
        &__icons{
            &-facebook{
                margin-top: 100px;
                @include icons();
            }
            &-twitter{
                margin-top: 100px;
                @include icons();
            }
            &-telegram{
                margin-top: 100px;
                @include icons();
            }
            &-instagram{
                margin-top: 100px;
                @include icons();
            }
    
        }
    &__content{
        display: inline-flex;
        max-width: 200px;
        min-height: 250px;
        flex-wrap: wrap;
        margin-right: 70px;
        align-items: center;
        &--title{
            @include title();
            color: white;
            text-align: center;
        }
        
        &--links,
        &--link a{
            list-style: none;
            text-decoration: none;
            color: $main-texts-color ;
        }
        &--link :hover{
            color: #65ffff;
            transition: all 0.3s ease-out;
        }

        &--contact{
            background-color: rgb(228, 228, 228);
            width: 250px;
            height: 30px;
            margin: 5px;
            border-radius: 10px;

            &-textarea{
                min-height: 70px;
            }
            &-button{
                max-width: 200px;
                margin: 0 50px ;
            }
        }
    }
}
.copytext{
    text-align: center;
    color: white;
}


