@import "../vars";
@import "../mixins";

.footer{
    background-color: $main-footer-bg-color;
    &__logo{
        &-link {
            @include logo();
        }
    
        &-img{
         max-width: 250px;
         padding-top: 10px;
        } 

    }
    &__icons{
        &-facebook{
            background-image: url(../images/facebook.png);
            margin-top: 100px;
            @include icons();
        }
        &-twitter{
            background-image: url(../images/twitter.png);
            margin-top: 100px;
            @include icons();
        }
        &-telegram{
            background-image: url(../images/telegram.png);
            margin-top: 100px;
            @include icons();
        }
        &-instagram{
            background-image: url(../images/instagram.png);
            margin-top: 100px;
            @include icons();
        }

    }
    &__content{
        min-height: 350px;

        &-title{
            @include title();
            color: white;
        }
        
        &--links,
        &-link a{
            list-style: none;
            text-decoration: none;
            color: $main-texts-color ;
        }
        &-link :hover{
            color: #65ffff;
            transition: all 0.3s ease-out;
        }

        &-contact{
            background-color: rgb(228, 228, 228);
            width: 100%;
            height: 40px;
            margin:  5px 0px ;
            border-radius: 10px;

            &-textarea{
                min-height: 120px;
            }
            &-button{
                max-width: 200px;
            }

        }
    }
}
.copytext{
    text-align: center;
    color: white;
}    