@import "../vars";
@import "../mixins";
.header{
    background-color: transparentize( $main-header-bg-color , $amount: 0.00);
    text-decoration: none;
    margin-bottom: 0;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        &-link {
            @include logo();
            font-weight: 700;
        }
    
        &-logo{
         max-width: 250px;
         padding-top: 20px;
        }
    
    }
    &__address{
        max-width: 700px; 

        &--texts{
            display: flex;
            list-style: none;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
        }
        &-item{
            max-width: 350px;
        }
        &-item + &--item{
            margin-left: 80px;
        } 
        &-location-vector{
            @include address();
        }  
        &-location-tell{
            @include address();
        }       
        &-location-email{
            @include address();
        }
        location-vector,
        location-tell,
        location-email,:hover{
            color: rgb(204, 204, 255);
        }
    }

    &__navbar{
        @include logo();
        max-width: 1100px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;

        &--menu{
            display: flex;
            list-style: none;
            flex-wrap: wrap;
            margin: 0;
        }
        &-item{
            width: 170px;
            min-height: 25px;
            text-align: center;
            background-color: #0f1f4b;
            border-radius: 50%;
            padding: 10px;
            margin: 40px 20px;
        }
        &-item:hover{
            background-color: lighten($color: #0f1f4b, $amount: 5);
            transition: all 0.3s ease-out;
        }
        &-link{
            text-decoration: none;
            color: #FFEF98;
        }
        &-link:hover{
            color: #65ffff;
            transition: all 0.3s ease-out;
        }
    }
}

    

