
 @import "../vars";
 @import "../mixins";
 
 .main{
     background-color: transparentize($main-bg-color, $amount: 0.095);
     color: $main-texts-color;
 
     &__hero{
 
 
         &-note{
             @include font-text("Roboto Slab");
             font-size: 32px;
             font-weight: normal;
             text-align: center;
             line-height: 38px;
             margin: 0 auto 30px auto;
         }

         &--button{
             margin: 30px 0;
         }
         &-link{
             @include button-link();
         }
         
         &-link:hover{
             @include button-link-hover();
         }
 
         &-img{
             border-radius: 50px 0px;
         }
     }
 }
.services{
    &__title{
        @include title();
        font-size: 40px;
    }


    &__image{
        align-items: center;
        border-radius: 50px;
    }
    &__col{
        margin: 20px 0;
        &-left{
            margin-bottom: 30px;
        }
    }
    &__subtitle{
        @include font-text("Roboto Slab");
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        line-height: 40px;
        text-align: center;
        margin-bottom: 50px;

        &-text{
            margin: 50px 0;
        }

        &-button{
            @include button-link();
        }
        &-button:hover{
            @include button-link-hover();
        }
    }
}
.levels{
    text-align: center;
    padding-bottom: 20px;
    &__title{
        @include title();
    }
    &__schedule{
        width: 80%;
        border-radius: 15%;
        margin: 20px 0;
    }
    
    &__text{
        max-width: 80%;
        text-align: left;
        margin: 15px auto;


        &-strong{
            font-weight: 600;
            
        }
    }
}
hr{
    max-width: 1110px;
    margin: 0 auto;
}





.why{
    &__title{
        @include title();
        text-transform: uppercase;
    }
    &__block{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__icons{
        max-width: 300px;
        text-align: center;
        list-style: none;
    }
    &__text-title{
        font-size: 18px;
        font-weight: 600;
    }

}
.quote{
    background-color: white;
    &__text{
        color: black;
        @include font-text("Roboto Slab");
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        line-height: 45px;
    }
    &__img {
        height: 600px;
        border-radius: 100px 0px 100px 0px;
        object-fit: cover;
    }
}