@import "../vars";
@import "../mixins";

.main{
    background-color: transparentize($main-bg-color, $amount: 0.095);
    color: $main-texts-color;

    &__hero{
        min-height: 600px;

        &--button{
            max-width: 350px;
            min-height: 50px;
            text-align: center;
            float: left;
        }

        &--note{
            @include font-text("Roboto Slab");
            font-size: 36px;
            font-weight: normal;
            text-align: center;
            line-height: 40px;
            margin-top: 50%;
        }
        &--link{
            @include button-link();
        }
        
        &--link:hover{
            @include button-link-hover();
        }

        &--img{
            max-width: 750px;
            min-height: 600px;
            border-radius: 90% 0% 0% 0%;
            margin-left: 0 auto;
        }
    }
}
.services{
    min-height: 1450px; 
    align-items: center;
    &__title{
        @include title();
        margin: 0;
    }
    &__col{
        display: block;
    }
    &__part{
        min-height: 500px;
        text-align: center;
    }
    &__image{
        @include services-img();
        align-items: center;
        float: left;
        margin-right: 100px;
        &-b{
            float: right;
            margin: 0;
        }
    }
    &__subtitle{
        @include font-text("Roboto Slab");
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        line-height: 40px;
        padding-top: 50px;
        margin-bottom: 50px;

        &--button{
            @include button-link();
        }
        &--button:hover{
            @include button-link-hover();
        }
    }
}


.levels{
    min-height: 340px;
    &__title{
        @include title();
        text-align: center;
    }
    &__schedule{
        width: 1000px;
        margin-left: 5%;
        border-radius: 100px;
        margin-top: 10px;
    }
    
    &__text{
        max-width: 900px;
        min-height: 50px;
        margin: 1% auto;

        &----strong{
            font-weight: 600;
        }
    }
}
hr{
    max-width: 1110px;
    margin: 0 auto;
}

.why{
    &__title{
        @include title();
        margin-bottom: 0;
        text-transform: uppercase;
    }
    &__block{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__icons{
        max-width: 300px;
        min-height: 100px;
        text-align: center;
        list-style: none;
    }
    &__icon{
       width: 300px;
       height: 230px;
    }
    &__text--title{
        font-size: 18px;
        font-weight: 600;
    }

}
.quote{
    min-height: 500px;
    background-color: white;
    &__text{
        color: black;
        @include font-text("Roboto Slab");
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        line-height: 45px;
        margin-top: 70px;

    }
    &__img{
        width: 580px;
        height: 480px;
        border-radius: 150px 0px 150px 0px;
        float: right;
    }
}