@import "../vars";
@import "../mixins";

.news{
    background-color: transparentize($main-bg-color, $amount: 0.095);
    color: $main-texts-color;

    &__title {
        @include title();
        text-align: center;
        max-width: 500px;
        &-text {
            text-transform: uppercase;
            text-decoration: none;
            color: #52BEFF;
        }

        &-date{
            font-style: italic;
            color: rgb(228, 252, 172);
            font-size: 20px;
        }
    }

    &__images{
        margin-left: auto;
    }

    &-third{
        background-color: white;
        min-height: 500px;
        padding: 50px 0;
        
        &__title{
            @include title();
            color: black;
            margin: auto;
        }
    }
    &__videos{
        padding: 70px 0;

        &-video{
            padding: 15px;
        }
    }
}
