/* @import "../vars";


$blockwidth: 450px;
$blockheight: 360px;
$radius: 35%;
 
.services{
    
        &__title{
            font-family: "Roboto Condensed" , Roboto;
            font-weight: normal;
            color: white;
            font-size: 24px;
            text-align: left;
            padding-left: 45px;
                }
                &__col {
                    display: grid;
                grid-column: 1fr 1fr;
                float: left;
            }
           
                    .image{
                                width: 450px;
                                height: 360px;
                                border-radius: 35%;
                                padding-left: 50px ;
                                float: left;
                            }
                            .item-services__subtitle{
                          font-family: "Roboto Condensed" "Roboto-slab";
                            font-size: 24px;
                          color: $main-texts-color;
                          text-align: center;
                        }
                        .item-services__button{
                            height: 50px;
                         
                            text-align: center;
                            background-color: rgb(81, 81, 241);
                            border-radius: 25% 0 25% 0;
                            text-decoration: none;
                            font-size: 18px;
                            &:hover {
                                color:blueviolet;
                            }
                        }
                        &__image{
                            display: block;
                             width: $blockwidth;
                            height: $blockheight;
                            border-radius: $radius;
                        }
                        .item-services__subtitle{
                            @include font-text("Roboto Condensed");
                            font-size: 24px;
                          color: $main-texts-color;
                          text-align: center;
                        }
                        .item-services__button{
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            background-color: rgb(81, 81, 241);
                            border-radius: 25% 0 25% 0;
                            text-decoration: none;
                            font-size: 18px;
                            &:hover {
                                color:blueviolet;
                            }
                        }

              
                          }

                        }
                    }
            
           
    
 

      */